<app-breadcrumb [title]="'Productos'" [items]="[]" [active_item]="'Productos'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <!-- <h5>Sample Card</h5><span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span> -->
          <button class="btn btn-primary d-flex align-items-center px-3"
                  routerLink="nuevo">
            <i data-feather="plus" class="mr-1"></i>
            Nuevo producto
          </button>
        </div>
        <div class="card-body custom-datatable">

          <!-- Tabla usuarios -->
          <ngx-datatable class="bootstrap" [rows]="products"
                        [columnMode]="'flex'"
                        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">

            <ngx-datatable-column name="Código" prop="codigo" [flexGrow]="1">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                {{ row.codigo }}
              </ng-template>
            </ngx-datatable-column> 

            <ngx-datatable-column name="Nombre" prop="nombre" [flexGrow]="1">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                {{ row.nombre }}
              </ng-template>
            </ngx-datatable-column> 

            <ngx-datatable-column name="Precio" prop="precio" [flexGrow]="1">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                {{ row.precio | currency }}
              </ng-template>
            </ngx-datatable-column> 

            <ngx-datatable-column name="Stock" prop="stock" [flexGrow]="1">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                {{ row.stock }}
              </ng-template>
            </ngx-datatable-column> 

            <ngx-datatable-column name="Categoría" prop="categoria" [flexGrow]="1">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                {{ row.categoria }}
              </ng-template>
            </ngx-datatable-column> 

            <ngx-datatable-column name="Acción" prop="codigo" [flexGrow]="1" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <button class="btn btn-primary boton-icono-sm"
                        [routerLink]="['editar', row.codigo]">
                  <i data-feather="edit"></i>
                </button>
              </ng-template>
            </ngx-datatable-column> 

            <!-- Resuelve problema con CSS -->
            <ngx-datatable-column name="" prop="" [flexGrow]="1" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

              </ng-template>
            </ngx-datatable-column> 

          </ngx-datatable>

        </div>
      </div>
    </div>
  </div>
</div>