<app-breadcrumb [title]="title" [items]="['Usuarios', title]" [active_item]="btnLabel"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>{{ subtitle }}</h5>
        </div>
        <form class="form theme-form">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                  <div class="form-group">
                      <label for="firstnameInput">Nombres</label>
                      <input class="form-control" id="firstnameInput" type="text"
                              name="firstname" placeholder="">
                  </div>
              </div>
              <div class="col-6">
                  <div class="form-group">
                      <label for="lastnameInput">Apellidos</label>
                      <input class="form-control" id="lastnameInput" type="text"
                              name="lastname" placeholder="">
                  </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                    <label for="dniInput">DNI</label>
                    <input class="form-control" id="dniInput" type="number"
                            name="dni" placeholder="">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                    <label for="phoneInput">Teléfono</label>
                    <input class="form-control" id="phoneInput" type="number"
                            name="phone" placeholder="">
                </div>
              </div>
              <div class="col-6" *ngIf="subtitle === 'Nuevo empleado' || subtitle === 'Editar empleado'">
                <div class="form-group">
                    <label for="emailInput">Correo electrónico</label>
                    <input class="form-control" id="emailInput" type="email"
                            name="email" placeholder="">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                    <label for="addressInput">Dirección</label>
                    <input class="form-control" id="addressInput" type="text"
                            name="address" placeholder="">
                </div>
              </div>
              <div class="col-6" *ngIf="subtitle === 'Nuevo empleado' || subtitle === 'Editar empleado'">
                <div class="form-group">
                    <label for="roleSelect">Rol</label>
                    <select class="form-control" id="roleSelect" name="role">
                        <option [value]="">admin</option>
                        <option [value]="">vendedor</option>
                        <option [value]="">almacenero</option>
                    </select>
                </div>
              </div>

              <div class="col-6" *ngIf="subtitle === 'Nuevo empleado' || subtitle === 'Editar empleado'">
                <div class="form-group">
                    <label for="passwordInput">Contraseña</label>
                    <input class="form-control" id="passwordInput" type="password"
                           name="password" placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
              <button class="btn btn-primary" type="submit">{{ btnLabel }}</button>
              <button class="btn btn-light ml-1" type="button" [routerLink]="[backURL]">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>